.map {
/* 	border: 2px solid black; */
/* 	border-radius: 25px; */
	overflow: auto;
	vertical-align: middle;
}

html * {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .95em;
}

.map img {	
	width: auto;
	height: 100%;
}

.logo img {
  width: 100px;
  height: auto;
}

.logo {
  position: absolute;
  top: 8px;
  right: 16px;
}

.area {
    border: 1px solid black;
    border-radius: 4px;
    display:block;
    opacity:0.0;
    position:absolute;
}

#area2 {
    left:1000px;
}

.area:hover {
    background: #999999;
    opacity: 0.85;
}

.area p {
  font-weight: bold;
  margin: 2px;
  margin-bottom: 2px;

}

.show-nav {
  color: yellow;
  opacity: 1.0;
}